# Interviewer-only material
interview questions.md

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
